.main{
    display: flex;
    
}

.side-bar{
    width: 40vw;
    height: 100vh;
    background: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
}

.form-section {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.form-section>div{
    flex: 1;
}

fieldset{
    border: none;
}